html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1em;
}

#game-board div:first-child {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#game-board div:nth-child(2) {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#game-board div:nth-child(3) {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#game-board div:nth-child(4) {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#game-board div:nth-child(5) {
  border: 1px solid black;
}
#game-board div:nth-child(6) {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#game-board div:nth-child(7) {
  border-top: 1px solid black;
  border-right: 1px solid black;
}
#game-board div:nth-child(8) {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
#game-board div:nth-child(9) {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.square {
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}

#game-state-buttons {
  grid-column: 1 / -1;
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

#game-status {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2em;
}